.App {
  max-width: 650px;
  margin: auto;
  padding: 2rem;
}
button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  background-color: lightgrey;
  border: 1px solid black;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  margin: 1rem 0rem;
  border: radius 0.5rem;
}

ul {
  padding-inline-start: 0rem;
}
